---
layout: page
title: "About"
description: "Hey, this is Tesla."
header-img: "img/about-bg.jpg"
---

<!-- Language Selector -->
<select onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0" selected> 中文 Chinese </option>
    <option value="1"> 英语 English </option>
</select>

<!-- Chinese Version -->
<div class="zh post-container">
    <blockquote>
        做做测试，写写代码...
    </blockquote>
    <p>从武汉科技大学机械设计制造及其自动化专业毕业之后，头2年选择了机械方面的工作。但是实际工作中，发现自己对机械并不那么感兴趣。
    实际上大学时候已经有这种感觉了。但是大学时候也没想那么多，就一直这样走了下来。现在发现选专业真是比选学校更重要。</p>

    <p>工作之后想到换行。回想自己在念书期间，数学和物理学习的相对比较好，逻辑方面也比较擅长，从而选择了IT行业，但是也误打误撞的进入了IT中的
    软件测试行业。</p>

    <p>目前在软件测试行业已经工作了3年半的时间了。说实话，头2年真是蛮苦的，一来因为刚进入IT行业，工资比较低，差不多3000多吧，每个月要还
    学习软件测试贷的款，差不多每月1500，剩下的1500多，要住房，要吃饭。天知道我那2年都经历了些什么。虽说比较苦吧，但自己在学习上也丝毫
    没有放松。目前自己在软件测试领域接触的也比较多了。接触的行业包括手机行业，广告行业，金融行业，企业工作流等等，
    软件测试技术方面，自己对需求调研，测试设计，测试执行，项目管理等也比较地熟练；对手工测试，自动化测试，性能测试，
    持续集成也都有实战和总结。</p>

    <p>那现在自己又处在技能的舒适区了。百尺竿头更进一步，加油！</p>
</div>

<!-- English Version -->
<div class="en post-container">
    <blockquote>
        Do some test, write some code...
    </blockquote>
    <p>After graduated from Wuhan University Of Science and Technology in 2010, I choosed mechanical related job. But actually,
    I was not excited about the job. Even worse, I had the same feeling about mechanical engineering major in University. So
    I feel it's really more important to choose a right major than a University now.</p>

    <p>Since 2012, I thought about to change my job, and decided to dive into IT industry. So I learned software testing from 51testing.
    After I graduated from 51testing, I became a QA successfully.</p>

    <p>I have worked amost 3.5 years in software testing industry since 2013. And now I'm familiar with manual testing, automation testing,
    performance testing and continuous integration. But I find it's very hard to get improved now.
    So it's time to make some change!</p>
</div>

<!-- Handle Language Change -->
<script type="text/javascript">
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
    function onLanChange(index){
        if(index == 0){
            $zh.style.display = "block";
            $en.style.display = "none";
        }else{
            $en.style.display = "block";
            $zh.style.display = "none";
        }
    }
    onLanChange(0);
</script>



{% if site.duoshuo_username %}
<!-- 多说评论框 start -->
<div class="comment">
    <div class="ds-thread"
    {% if site.duoshuo_username == "huxblog" %}
        data-thread-id="1187623191091085319"
    {% else %}
        data-thread-key="{{site.duoshuo_username}}/about"
    {% endif %}

    data-title="{{page.title}}"
    data-url="{{site.url}}/about/"></div>
</div>
<!-- 多说评论框 end -->

<!-- Duoshuo hacking -->
<input id="dsUser" type="hidden" value="{{site.duoshuo_username}}"  />

<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    // dynamic User hacking by Hux
    var _user = document.getElementById('dsUser').value;
    // duoshuo comment query.
    var duoshuoQuery = {short_name: _user };
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0]
         || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
</script>
<!-- 多说公共JS代码 end -->
{% endif %}


{% if site.disqus_username %}
<!-- disqus 评论框 start -->
<div class="comment">
    <div id="disqus_thread" class="disqus-thread">

    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus_username}}";
    var disqus_identifier = "{{site.disqus_username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}
